*{ padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}
.navi{
    position: absolute;
    right: 12px;
}

.carousel-item img{
width: 100%;
height: 93vh;

}
/* about css */
.about_img{
 min-width: 100%;
 max-height: 280px;
}

/* service css */

.service img{
    width: 100%;
    height: 100%;
}

/* offer css */
.offer_style{
    background: #a6dcef;
    height: 249px;
   
}
.offer_style h1{
    color: white;
}
.offer_style button:hover{
    color: black;
    background-color: white;
}
.offer_style button{
    border-color: white;
    color: white;
}